// you can custom css vars here
:root {
  --va-bg-image: url("../public/img/c40b169b070eae05614a7dff1ff2fc99.webp");
}
html.dark {

  --va-bg-image: url("https://cdn.yunyoujun.cn/img/bg/galaxy.jpg");
  --sidebar-bg-color: rgba(27,31,46,0.95);
  --sidebar-bg-image: url("");
}
