// you can custom css vars here
:root {
    --hty-mode: 'light';
    --hty-bg-color: #f5f5f5;
    --hty-text-color: #333;
    --hty-secondary-text-color: #555;
    --post-block-bg-color: #fff;
    --smc-link-color: #0078e7;
    --yun-bg-image: url("https://img.gejiba.com/images/c40b169b070eae05614a7dff1ff2fc99.webp");
    --banner-line-color: #000;
    --banner-char-color: #000;
  }
  html.dark {
    --hty-mode: 'dark';
    --hty-bg-color: #303030;
    --hty-text-color: #f2f2f2;
    --hty-secondary-text-color: #eee;
    --post-block-bg-color: #1b1f2e;
    --smc-link-color: #3ca1ff;
    --yun-bg-image: url("https://cdn.yunyoujun.cn/img/bg/galaxy.jpg");
    --banner-line-color: #fff;
    --banner-char-color: #fff;
    --banner-char-bg-color: rgba(0,0,0,0.5);
    --banner-char-hover-color: #000;
    --post-card-bg-color: rgba(27,31,46,0.9);
    --post-card-shadow: 0 1px 8px rgba(27,31,46,0.1);
    --sidebar-bg-color: rgba(27,31,46,0.95);
    --sidebar-bg-image: url("");
    --page-btn-bg-color: rgba(0,0,0,0.5);
    --page-btn-hover-bg-color: rgba(199,228,255,0.9);
    --page-btn-active-bg-color: #0078e7;
  /* for waline */
  /* 常规颜色 */
    --waline-white: #000;
    --waline-light-grey: #666;
    --waline-dark-grey: #999;
  /* 布局颜色 */
    --waline-text-color: #888;
    --waline-bgcolor: #1e1e1e;
    --waline-bgcolor-light: #272727;
    --waline-border-color: #333;
    --waline-disable-bgcolor: #444;
    --waline-disable-color: #272727;
  /* 特殊颜色 */
    --waline-bq-color: #272727;
  /* 其他颜色 */
    --waline-info-bgcolor: #272727;
    --waline-info-color: #666;
  }